Source: libncgi-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: Mark Lawrence <nomad@null.net>
Standards-Version: 3.6.1

Package: libncgi-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libxml-api-perl, libclass-singleton-perl
Description:  A New CGI Module
 .
