Source: libncgi-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2), libmodule-build-perl
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: Mark Lawrence <nomad@null.net>
Standards-Version: 3.6.1

Package: libncgi-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libxml-api-perl (>= 0.14-1), libtime-hires-perl
Description:  A New CGI Module for Perl
  NCGI is a collection of Perl modules that assist authors in writing
  Common Gateway Interface (CGI) scripts. It is kind of like the standard
  'CGI' module but much lighter in code and features, has a different
  inteface and produces better output.
